<p>list panel works!</p>
{{ message }}

<!-- <period-selector></period-selector> -->

<div class="users">

<!--   <div class="spinner-container" *ngIf="datasource.loadingOnProgress | async">
    <mat-spinner></mat-spinner>
  </div> -->

  <table mat-table class="mat-elevation-z2 table" [dataSource]="datasource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>nom</th>
      <td mat-cell  *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>prénom</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email / service</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!--   <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> adresse </th>
    <td mat-cell *matCellDef="let user"> {{user.address}} </td>
  </ng-container> -->

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>téléphone</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>site web</th>
      <td mat-cell *matCellDef="let user">{{ user.website }}</td>
    </ng-container>

    <!--   <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> entreprise </th>
      <td mat-cell *matCellDef="let user"> {{user.company}} </td>
  </ng-container> -->

    <tr mat-header-row class="header-cell" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
      (click)="rowClicked(row)"
    ></tr>

  </table>

<!--   <mat-paginator [length]="course?.lessonsCount" [pageSize]="3"
  [pageSizeOptions]="[3, 5, 10]"></mat-paginator> -->

</div>
