.users {
  /* text-align: center; */
  margin: 0 auto;
  width:100%;
}

.table {
  /* min-height: 360px; */
  margin-top: 10px;
  padding:20px;
}

.header-cell {
  text-align: center;
  font-weight:bold;
  /* margin: 10px auto; */
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

