<h3>main view works!</h3>

<!-- <p>loads index and list panels</p>

<div fxLayout="row" fxLayoutAlign="space-around center">

  <app-index></app-index>
  <app-list></app-list>
  <app-detail></app-detail>

</div> -->

<app-list></app-list>




