<p>index panel works!</p>

<!-- <table mat-table [dataSource]='indexList'></table> -->

<div fxLayout="row" fxLayoutAlign="space-between center">

    <input #input placeholder="entrez le texte"/>
    <button (click)="click(input.value)">Envoyer</button>

</div>
